---
import { Image } from 'astro:assets';
import fashion02 from '../../images/fashion-02.jpg';
---

<section>
    <div class="title-container">
        <p>Basic and exquisite</p>
        <h2>Best Material</h2>
    </div>

    <figure>
        <Image src={fashion02} alt="Description here of image 2"/>
    </figure>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, voluptatum dolorem molestiae itaque ab totam voluptatibus consectetur rerum sunt suscipit ipsum esse illo commodi temporibus maxime id ullam aliquid? Minima.</p>

</section>

<style>
    section {
        display: grid;
        place-items: center;
        text-align: center;
        background: #f7cab6c2;
        padding-block: 12rem;
    }
    p {
        font-size: 4.8rem;
        color: gray;
        padding-inline: 6rem;
    }
    h2 {
        font-size: 6.4rem;
        margin-bottom: 4.4rem;
    }

    figure {
        margin-bottom: 6rem;
        width: 100%;
        place-items: center;
    }

    figure img {
        width: 60%;
        max-width: 320px;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 1000rem;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
</style>