---
import { Image } from 'astro:assets';
import fashionImage from '../../images/fashion-01.jpg';
import logoImage from '../../images/milano-joyeria.jpg';
---

<section>
    <figure>
        <Image src={fashionImage} alt="Description here"/>
    </figure>
    
    <div class="title-container">
        <!-- <h1>
            <span>Milano</span>
            <span>Joyeria</span>
        </h1> -->
        
        <figure class="milano-joyeria">
            <Image src={logoImage} alt="Description of logo"/>
        </figure>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nisi consequuntur repellendus assumenda molestiae quam nemo voluptate reprehenderit asperiores? Sit dicta voluptatem ipsa perspiciatis illo molestiae doloribus ab architecto ipsum!</p>

        <button>Shop Now</button>
    </div>
</section>

<style> 

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-container {
        display: grid;
        gap: 8rem;
        place-items: center;
        margin-top: 8rem;
        padding-inline: 3.6rem;
    }

    .title-container p {
        text-align: center;
        font-size: 3.6rem;
        font-weight: lighter;
    }

    figure img {
        width: 100%;
        max-width: 678px;
        height: auto;
    }

    h1 {
        display: flex;
        gap: 2.8rem;
        font-size: 9.6rem;
        font-style: italic;
        text-align: center;
    }

    button {
        font-size: 3.6rem;
        border: 0.2px solid black;
        padding: 1.6rem 4rem;
        cursor: pointer;
    }

    .milano-joyeria {
        display: grid;
        place-items: center;

    }

    .milano-joyeria img {
        width: 50%;
        height: auto;
        border-radius: 100000rem;
    }

    @media (min-width: 678px) {
        section {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        h1 {
            font-size: 9.6rem;
            padding-inline: 5.2rem;
        }

        .title-container {
            margin: 0;
            gap: 12rem;
        }

        .milano-joyeria img {
            max-width: 320px;
        }
    }
</style>