<section>
	<div class="carousell">
		<figure>
			<img src="../../../public/images/.milano-joyeria.jpg" alt="milano" />
		</figure>

		<figure>
			<img src="../../../public/images/.milano-joyeria.jpg" alt="milano" />
		</figure>

		<figure>
			<img src="../../../public/images/.milano-joyeria.jpg" alt="milano" />
		</figure>
	</div>
</section>

<style>
	.carousell {
		display: flex;
        gap: 2.4rem;
		overflow-x: visible;
	}
</style>
