---
import { Image } from 'astro:assets';
import image02 from '../../assets/necklace/image-19.jpg';
---

<section>
    <div class="title-container">
        <p>Basic and exquisite</p>
        <h2>Oro Laminado</h2>
    </div>

    <figure>
        <Image src={image02} alt="Description here of image 2"/>
    </figure>

    <p>
        Descubre la elegancia y sofisticación del oro laminado. Este material, utilizado en joyería de alta calidad, combina la belleza del oro con la durabilidad de metales de base. A través de un meticuloso proceso de soldadura y presión, se aplican varias capas de oro a un metal de menor valor, creando una pieza que brilla con el lustre del oro puro.
    </p>

</section>

<style>
    section {
        display: grid;
        place-items: center;
        text-align: center;
        background: #f7cab6c2;
        padding-block: 12rem;
    }
    p {
        font-size: 3.6rem;
        color: gray;
        padding-inline: 6rem;
    }
    h2 {
        font-size: 6.4rem;
        margin-bottom: 4.4rem;
        font-weight: 600;
        font-style: italic;
    }

    figure {
        margin-bottom: 6rem;
        width: 100%;
        place-items: center;
    }

    figure img {
        width: 60%;
        max-width: 280px;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 1000rem;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
</style>