---
import Aside from "../components/aside.astro";
import Main from "../components/main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rings">
    <Main>
        <h1>Rings</h1>
        <Aside></Aside>
    </Main>
    
</Layout>

