---
import XMark from "./icons/x-mark.astro";
---

<aside>
	<div class="title-container">
		<h2>Milano Joyeria</h2>

		<span class="x-mark">
			<XMark />
		</span>
	</div>
	<nav aria-label="aside navbar">
		<ul>
			<li>
				<a href="/">HOME</a>
			</li>
			<hr/>
			<li>
				<a href="all">SHOP</a>
			</li>
			<hr />
			<li>
				<a href="#">ABOUT</a>
			</li>
			<hr />
			<li>
				<a href="#">CONTACT</a>
			</li>
		</ul>
	</nav>
</aside>

<style>

    .x-mark {
        cursor: pointer;
    }

	.title-container {
		display: flex;
		justify-items: space-between;
		gap: 32rem;
		align-items: center;
		margin-bottom: 8rem;
	}

	.title-container .x-mark {
		width: 20px;
		height: auto;
	}

	aside {
		position: absolute;
		top: 0;
		background: #454545d0;
		color: white;
		width: fit-content;
		padding: 6rem 4rem;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.6s ease-out;
	}

    aside.show {
        transform: translateX(0);
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(40px);
    }

	aside > .title-container h2 {
		font-size: 4.8rem;
		font-weight: bold;
	}

	aside > nav ul {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		font-size: 3.2rem;
	}

    @supports not (backdrop-filter: blur(10px)) {
        aside.show {
            background-color: rgba(0, 0, 0, 0.8);
        }
}
</style>
