---
import { Image } from 'astro:assets';
import Logo from '../images/milano-joyeria.jpg';
import Facebook from './icons/facebook.astro';
import Instagram from './icons/instagram.astro';
import Whatsapp from './icons/whatsapp.astro';
---

<footer>
	<div class="grid-col">
		<figure><Image src={Logo} alt={"Logo of the company"}/></figure>
	</div>

	<!-- <div class="grid-col">
		<h3>Acerca de nosotros</h3>

		<ul>
			<li>
				<a href="#"> About us </a>
			</li>
			<li><a href="#"> Contacts </a></li>
		</ul>
	</div> -->

	<div class="grid-col products">
		<h3>Catálogo</h3>

		<div>
			<ul>
				<li>
					<a href="all">Todos</a>
				</li>
				<li>
					<a href="bracelet">Pulseras</a>
				</li>
				<li>
					<a href="necklace">Collares</a>
				</li>
			</ul>

			<ul>
				<li>
					<a href="ring">Anillos</a>
				</li>
				<li>
					<a href="earring">Aretas</a>
				</li>
			</ul>
			
		</div>
	</div>

	<!-- <div class="grid-col work-time">
		<h3>Work time</h3>

		<ul>
			<li>Mon-Th - 9:00 to 20:00</li>
			<li>Fri - 9:00 to 19:00</li>
			<li>Sat - 9:00 to 17:00</li>
		</ul>
	</div> -->

	<div class="grid-col newsletter">
		<h3>Contáctanos</h3>

		<!-- <form action="#" method="POST">
			<button type="submit">Subscribe</button>
			<input type="email" placeholder="Your email here" />
		</form> -->

		<ul class="social-links">
			<li>
				<span>
					<a href="https://www.facebook.com/profile.php?id=100077112152514&mibextid=LQQJ4d" target="_blank">
						<Facebook/>
					</a>
				</span>
			</li>
			<li>
				<a href="https://instagram.com/orolaminado_joyeria?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">
					<Instagram/>

				</a>
			</li>
			<li>
				<a href="#">
					<Whatsapp/>
				</a>
			</li>
		</ul>
	</div>
</footer>

<style>
	footer {
		background: #1f1f1b;
		color: white;
		font-size: 3.2rem;
		padding: 8rem 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        row-gap: 10rem;
        column-gap: 6rem;
		place-items: center;
	}

	footer > * {
		height: 100%;
	}

	footer > .grid-col:first-child {
		display: none;
	}

	.grid-col {
		display: flex;
		flex-direction: column;
		gap: 3.6rem;
		/* place-items: center; */
	}

	.grid-col > ul:not(.social-links) {
		display: flex;
		flex-direction: column;
		gap: 3.6rem;
	}

	.grid-col:not(.work-time) ul li {
		cursor: pointer;
	}

	.products > * {
		display: flex;
		gap: 16rem;
	}

	
	.products li {
		font-size: 3.6rem;
		margin-bottom: 2.8rem;
	}

	h3 {
		font-size: 6.4rem;
		font-weight: 500;
		text-align: center;
	}

	figure {
		display: none;
	}
    
    form {
        display: flex;
        gap: 2.4rem;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    button {
        background-color: gray;
        display: grid;
        place-items: center;
		cursor: pointer;
    }

    input {
        width: 100%;
		max-width: 360px;
    }
    
    input, button {
        padding: 1.2rem 2.4rem;
        border-radius: 1.2rem;
        /* width: 100px; */
    }

	figure img {
		width: 40%;
		min-width: 160px;
		max-width: 240px;
		aspect-ratio: 1/1;
		height: auto;
		object-fit: cover;
		border-radius: 10000rem;
	}

	.newsletter {
		width: fit-content;
	}

	.social-links {
		margin-top: 4rem;
		display: flex;
		gap: 2.4rem;
		justify-content: center;
		align-items: center;
	}

	.social-links span {
		width: 40px;
		height: auto;
	}

	@media (min-width: 675px) and (max-width:860px) {
		.newsletter {
			background: none;
			width: 100%;
		}
	}


</style>
