---
import SectionOne from '../components/sections/section-one.astro';
import SectionTwo from './sections/section-two.astro';
---


<main>
    <SectionOne/>

    <SectionTwo/>



    
</main>


<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 20rem;
    }
</style>

