---
---

<main>
	<slot/>
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		/* gap: 12rem; */
		/* margin-bottom: 8rem; */
		padding-bottom: 8rem;
	}

	@media (min-width: 678px) {
		main {
			gap: 0;
		}
	}
</style>
