---
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content="{Astro.generator}" />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Header/>
		<slot />

		<Footer/>	
	</body>
</html>

<style is:global>
	#overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		display: none;
		filter: blur(5px);
	}
	:root {
		--clr-dusty-rose: #dacac4;
		--clr-scallop-seashell: #f7c9b6;
		--clr-beige: #dbc39a;
		--clr-seafoam-green: #dae7dd;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	ul {
		list-style: none;
	}

	a {
		font: inherit;
		color: inherit;
		text-decoration: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font: inherit;
	}

	input {
		font: inherit;
		border: inherit;
	}

	button {
		background: inherit;
		font: inherit;
		border: inherit;
	}

	html {
		font-size: 26.5%;
	}
	body {
		font-family: "Libre Franklin", serif;
	}

	body.show-aside {
		overflow: hidden;
	}
</style>


<script>
    const hamburguerMenu = document.querySelector('.hamburguer-menu');
    const xMark = document.querySelector('.x-mark');
    const aside = document.querySelector('aside');
	const overlay = document.getElementById('overlay');

    hamburguerMenu?.addEventListener('click', () => {
        aside?.classList.toggle('show');

		if(overlay){
			overlay.style.display = 'inline-block';
		}
		
		document.body.classList.add('show-aside');
    });

    xMark?.addEventListener('click', () => {
        aside?.classList.toggle('show');

		if(overlay){
			overlay.style.display = 'none';
		}

		document.body.classList.remove('show-aside');
    });

</script>
